csat-email-sender/pkgs/Wadl/SendEmailSurvey.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="SendEmailSurvey" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="SendEmailSurvey" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <integer name="ManualTriggerInput_ID_Value_def" />
      <string name="ManualTriggerInput_Sendanemail_ux28_V2_ux29__CC_def" />
      <string name="ManualTriggerInput_SolutionArea_Value_def" />
      <string name="ManualTriggerInput_Product_Value_def" />
      <string name="ManualTriggerInput_Feature_Value_def" />
      <object name="ManualTriggerInput">
        <property name="ID_Value" type="integer" />
        <property name="Sendanemail(V2)_CC" type="string" />
        <property name="SolutionArea_Value" type="string" />
        <property name="Product_Value" type="string" />
        <property name="Feature_Value" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="ID_Value" path="/ID_Value" type="xs:long" required="true" />
            <param style="plain" name="Sendanemail(V2)_CC" path="/Sendanemail(V2)_CC" type="xs:string" required="true" />
            <param style="plain" name="SolutionArea_Value" path="/SolutionArea_Value" type="xs:string" required="true" />
            <param style="plain" name="Product_Value" path="/Product_Value" type="xs:string" required="true" />
            <param style="plain" name="Feature_Value" path="/Feature_Value" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>